
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v9/K88pR3goAWT7BTt32Z01m6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}